*{
    box-sizing:border-box;
}
.all{
    font-family: 'Noto Sans JP', sans-serif;
    .banner{
        position: relative;
        width: 100%;
        height: 100vh;
        background: url("../img/banner.jpg");
        overflow: hidden;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        #scene1{
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 2;
            img{
                width: 700px;
            }
        }
        .banne_png{
            .layer2{
                padding: 50px 0 300px 1100px;
                img{
                    width: 500px;
                }
            }
            .layer3{
                margin-left: -40%;
                padding-top: 90px;
                img{
                    width: 900px;
                }
            }
        }
        h1{ 
            position: absolute;
            color: wheat;
            font-size: 9rem;
            text-shadow:6px 6px 12px rgb(105,105,105);
            z-index: 3;
        }
        .clouds{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: 1;
            img{
                position: absolute;
                left: -600px;
                bottom: -250px;
                width:140%;
                animation: animate calc(6s * var(--i)) linear infinite;
                @keyframes animate{
                    0%{
                        transform: scale(1);
                    }
                    100%{
                        transform: scale(2.2);
                    }
                }
            }
        }//clouds_left
    }//banner
}//all